# This file contains common pin mappings for Printrboard boards (rev B
# through D). To use this config the firmware should be compiled for
# the AVR at90usb1286.

# Note that the "make flash" command will not work for Printrboard!
# To flash:
# - Connect the "BOOT" jumper.
# - Press the reset button (on board) to enter into DFU mode.
# - Connect via USB and run:
# avrdude -c flip1 -p usb1286 -U flash:w:out/klipper.elf.hex

# See docs/Config_Reference.md for a description of parameters.
[stepper_x]
step_pin: PA0
dir_pin: PA1
enable_pin: !PE7
microsteps: 16
rotation_distance: 36
endstop_pin: ^PE3
position_endstop: 200
position_max: 200
homing_speed: 50

[stepper_y]
step_pin: PA2
dir_pin: PA3
enable_pin: !PE6
microsteps: 16
rotation_distance: 36
endstop_pin: ^PB0
# Printrboard RevF uses a different Y endstop pin.
#endstop_pin: ^PB4
position_endstop: 185
position_max: 185 # shorter due to the Titan Extrduder
homing_speed: 50

[stepper_z]
step_pin: PA4
dir_pin: PA5
enable_pin: !PC7
microsteps: 16
rotation_distance: 1.42
endstop_pin: ^PE4
#position_endstop: 0.5
position_max: 200

[extruder]
step_pin: PA6
dir_pin: !PA7
enable_pin: !PC3
microsteps: 16
rotation_distance: 3.98
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC5
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF1
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: -100
max_temp: 250

[heater_bed]
heater_pin: PC4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF0
#control: watermark
min_temp: -100
max_temp: 130

#[fan]
#pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_at90usb1286_12345-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[bed_screws]
screw1: 61.3,185
screw2: 155,183
screw3: 106.3,2.5

# Use the following on a Printrboard RevF to control stepper current.
#[mcp4728 stepper_current_dac]
#scale: 2.327
#channel_a: 1.2 # Extruder
#channel_b: 1.2 # stepper_z
#channel_c: 1.0 # stepper_y
#channel_d: 1.0 # stepper_x


##MAINSAIL Configs
[include mainsail.cfg]

[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]

[pause_resume]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####

  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}



  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true

  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}



  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg

  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.633
#*# pid_ki = 1.498
#*# pid_kd = 127.457
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 56.154
#*# pid_ki = 1.323
#*# pid_kd = 595.934
#*#
#*# [stepper_z]
#*# position_endstop = 0.399
